$parent: button;

.#{$parent} {
	display: inline-block;
	height: rem(54);
	padding: 0 rem(25);
	border: 1px solid $color-blue;
	background-color: $color-blue;
	color: $color-white;
	font-weight: 700;
	font-size: rem(18);
	line-height: rem(52);
	letter-spacing: 3.5px;
	text-transform: uppercase;
	transition: background-color 0.2s, color 0.2s;
	cursor: pointer;

	&:hover {
		@media (min-width: $device-lg) {
			background-color: $color-white;
			color: $color-blue;
		}
	}
}