$parent: gallery;

.#{$parent} {
	display: flex;
	flex-wrap: wrap;
	margin: 0 rem(-5);

	&__item {
		position: relative;
		flex: 1 0 rem(300);
		margin: rem(5);
		padding-bottom: 100%;

		@media (min-width: $device-md) {
			flex: 1 0 rem(450);
			padding-bottom: 60%;
		}

		@media (min-width: $device-xl) {
			flex: 1 0 rem(200);
			padding-bottom: 30%;
		}		
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
	}
}