$color-white: #fff;
$color-black: #000;
$color-blue: #262f58;

$font-open-sans: 'Open Sans', sans-serif;

$device-sm: 480px;
$device-md: 768px;
$device-tablet: 992px;
$device-lg: 1024px;
$device-xl: 1280px;
$device-xll: 1440px;
