extends ../layout/layout
include ../components/container/container
include ../blocks/download-field/download-field
include ../blocks/gallery/gallery

block content
	+container
		+download-field()
		+gallery()
